<!DOCTYPE html>
<html>
<head>
  <title>Adaptive Web</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "/getSessionJS" type="text/javascript"></script>
</head>

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
</style>
<body>
  <div>
    <div style="clear: both">
      <h2 style="display: inline">Welcome : </h2>
      <h1 style="display: inline" id='username' ></h1>
    </div>
    <br />
    <hr  style="margin:auto;width:40%">
    <p>Thank you for using this shitty website.</p>
  </div>
  <div>
     <button type="button" onclick="window.open('https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15')" value='stackoverflow'>Stackoverflow</button>
     <form id="visualization" method="post" action="http://localhost:4000/VisualizationPage">
        <button type="submit">Visualization</button>
      </form>
     <form method="get" action="/logout">
       <button type="submit" id='logout'>Logout</button>
   </form>
  </div>
  <div>
    <div>
      <h3>Your Login Activity</h3>
      <hr  style="margin:auto;width:40%">
    </div>
    <table id='loginTable'>

    </table>
  </div>
</body>
</html>
