<!DOCTYPE html>
<html>
<head>
  <title>Adaptive Web</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src = "/getSessionJS" type="text/javascript"></script>
</head>

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
</style>
<body>
  <div>
    <h1>Welcome : <div id='username'></div></h1>
    <hr  style="margin:auto;width:40%">
    <p>Thank you for using this shitty website.</p>
  </div>
  <div>
     <button type="button" onclick="location.href='/users/stackoverflow';" value='stackoverflow'>Stackoverflow</button>
     <button type="button">Visualization</button>
     <button type="button">Logout</button>
  </div>
  <div>
    <div>
      <h3>Your Login Activity</h3>
      <hr  style="margin:auto;width:40%">
    </div>
    <table id='loginTable'>

    </table>
  </div>
</body>
</html>
